.box{
    background-color: rgb(255, 227, 222);
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
}

.nametag{
    margin-right: 12px;
}
.contents
{
    margin-left: 8%;
}