.input-row{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    background-color: rgb(255, 227, 222);
    padding: 25px;
    border-radius: 10px;
     
}
.save{
    margin-top: 3px;
}
.price{
    margin-left: 20%
}