/* styles.css */
/* Tab title color when not selected */
.nav-tabs .nav-link {
    color: rgb(220,53,69);
  }
  
  /* Tab title color when selected */
  .nav-tabs .nav-link.active {
    color: black;
  }
  .nav-item button{
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-left: 6px;

  }
  .nav-tabs .nav-link.active {
    color: white;
    background-color:rgb(220,53,69);;
}
.nav-item button:hover{
  color: black;
}
  
  